{% extends 'base-front.html.twig' %}
{% block header %}{% endblock %}
{% block body %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            Register
          </div>
          <div class="card-body">
          {{form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
            <div class="form-group">
                {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}
            </div>

              <div class="form-group">
                {{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}
            </div>
              
              <div class="form-group">
                 {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}
              </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </div>
            {{ form_end(form) }}
               <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                   <a href="{{ path('app_login') }}">Login</a>
                </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}