<!DOCTYPE html>
<html lang="en">
<head>
 {% block stylesheet %}
        <meta charset="UTF-8">
        <!-- Website Title -->
        <title>ATP</title>
        <!-- For IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- For Resposive Device -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- For Window Tab Color -->
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#061948">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#061948">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#061948">
        <!-- Favicon -->                             
        <link rel="icon" type="image/png" sizes="56x56" href="{{ asset('front/images/fav-icon/icon.png') }}" >
        <!-- Main style sheet -->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style.css') }}" >
         <link rel="stylesheet" type="text/css" href="{{ asset('front/css/styles.css') }}" >
        <!-- responsive style sheet -->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/responsive.css') }}" > 


        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{{asset('css/slick.css')}}"/>
		<link type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css')}}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css')}}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{{asset('css/style.css')}}"/>
    
 {% endblock %}

{% block javascript %}
        <!-- Optional JavaScript _____________________________  -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- jQuery -->
        <script src= "{{ asset('front/vendor/jquery.2.2.3.min.js') }}" ></script>
        <!-- Popper js -->
        <script src=  "{{ asset('front/vendor/popper.js/popper.min.js') }}" ></script>
        <!-- Bootstrap JS -->
        <script src="{{ asset('front/bootstrap/js/bootstrap.min.js') }}" ></script>
        <!-- Camera Slider --> 
        <script src= "{{ asset('front/vendor/Camera-master/scripts/jquery.mobile.customized.min.js') }}"></script>
        <script src= "{{ asset('front/vendor/Camera-master/scripts/jquery.easing.1.3.js') }}"></script> 
        <script src= "{{ asset('front/vendor/Camera-master/scripts/camera.min.js') }}"></script>
        <!-- menu  --> 
        <script src= "{{ asset('front/vendor/menu/src/js/jquery.slimmenu.js') }}"></script>
        <!-- WOW js -->
        <script src="{{ asset('front/vendor/WOW-master/dist/wow.min.js') }}"></script>
        <!-- owl.carousel --> 
        <script src="{{ asset('front/vendor/owl-carousel/owl.carousel.min.js') }}"></script>
        <!-- js count to -->
        <script src="{{ asset('front/vendor/jquery.appear.js') }}"></script>
        
        <script src="{{ asset('front/vendor/jquery.countTo.js') }}"></script>
        <!-- Fancybox -->
        <script src="{{ asset('front/vendor/fancybox/dist/jquery.fancybox.min.js') }}"></script>
        <!-- Language Stitcher -->
        <script src="{{ asset('front/vendor/language-switcher/jquery.polyglot.language.switcher.js') }}"></script>
        <!-- Google map js -->



        <!-- Theme js -->
        <script src="{{asset('front/js/theme.js')}}"></script>
        <script src="{{asset('front/js/scripts.js') }}"></script>

        <!--<script src="js/map-script.js"></script> -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuGD3coNF7878XNZo0CulQkXUhGiB2X1k"></script>
        <script src="js/googlemap.js"></script>
        <!-- jQuery Plugins -->
		<script src="{{asset('js/jquery.min.js')}}"></script>
		<script src="{{asset('js/bootstrap.min.js')}}"></script>
		<script src="{{asset('js/slick.min.js')}}"></script>
		<script src="{{asset('js/nouislider.min.js')}}"></script>
		<script src="{{asset('js/jquery.zoom.min.js')}}"></script>
		<script src="{{asset('js/main.js')}}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        </div> <!-- /.main-page-wrapper -->
{% endblock %}
 </head>
<body>

{% block header %}
    <header class="header-two">
                <div class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8 col-12">
                                <ul class="left-widget">
                                    
                                    <li>
                                       
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-4 col-12">
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div> <!-- /.top-header -->

                <div class="theme-menu-wrapper">
                    {# <div class="container"> #}
                        <div class="bg-wrapper clearfix">
                            <div class="logo float-left"><a href="index.html"><img class="logmer" src="{{ asset('front/images/logo1.png') }}" alt=""></a></div>
                            <!-- ============== Menu Warpper ================ -->
                            <div class="menu-wrapper float-left">
                                <nav id="mega-menu-holder" class="clearfix"> 
                                    <ul class="clearfix">
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="about.html">A Propos De Nous</a></li>
                                        <li><a href="team.html">Activitiés</a></li>
                                        <li><a href="{{path('affichage')}}">Boutiques</a></li>
                                        <li><a href="{{path('affich_cat')}}">categorie</a></li>
                                        <li><a href="contact.html">Inscris-toi!</a></li>
                                    </ul>
                                </nav> <!-- /#mega-menu-holder -->
                            </div> <!-- /.menu-wrapper -->
                            <div class="right-widget float-right">
                                <ul>
                                    <li class="cart-icon">
                                        <a href="#"><i class="flaticon-tool"></i> <span>2</span></a>
                                    </li>
                                    <li class="search-option">
                                        <div class="dropdown">
                                            <button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            <form action="#" class="dropdown-menu">
                                                <input type="text" Placeholder="Enter Your Search">
                                                <button><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- /.right-widget -->
                        </div> <!-- /.bg-wrapper -->
                    {# </div> <!-- /.container --> #}
                </div> <!-- /.theme-menu-wrapper -->
              <!-- /.header-one -->
              </header>
{% endblock %}

  {% block body %}



  {% endblock %}


{% block footer %}
<footer class="theme-footer-two">
                <div class="top-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12 logo-widget">  
                                <div class="logo"><a href="index.html"><img class="logmer" src="{{ asset('front/images/logo/Layer 3.png') }}"  alt=""></a></div>
                                <p>ATP est là pour réserver une expérience en famille inégale à toute autre 
                                expérience .Nos activités ludiques sont vos meilleures amies pour sortir de 
                                votre zone de comfort </p>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> <!-- /.logo-widget -->
                            <div class="col-lg-2 col-sm-6 col-12 footer-list">
                                <h6 class="title">Nos offres</h6>
                                <ul>
                                    <li><a href="about.html">Nos Services</a></li>
                                    <li><a href="service.html">Activité Récréative En Pleine Nature</a></li>
                                    <li><a href="project.html">Devis En Ligne</a></li>
                                    <li><a href="blog.html">Assistance Personnalisée</a></li>
                                    <li><a href="contact.html">Une Panoplie De Boutiques</a></li>
                                </ul>
                            </div> <!-- /.footer-gallery -->
                            
                            <div class="col-lg-3 col-sm-6 col-12 contact-widget">
                                <h6 class="title">CONTACT</h6>
                                <ul>
                                    <li>
                                        <i class="flaticon-direction-signs"></i>
                                        995, Ariana , Tunisie.
                                    </li>
                                    <li>
                                        <i class="flaticon-multimedia-1"></i>
                                        <a href="#">info@yoursupport.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <a href="#">+1 747 123 4567</a>
                                    </li>
                                </ul>
                            </div> <!-- /.contact-widget -->
                             <!-- /.footer-list -->
                                <div class="col-lg-2 col-sm-6 col-12 footer-list">
                                <h6 class="title">Nos Politiques</h6>
                                <ul>
                                    <li><a href="about.html">Mentions Légales</a></li>
                                    <li><a href="service.html">Politique De Confidentialité</a></li>
                                    <li><a href="project.html">Politique en matière de cookies</a></li>
                                </ul>
                                </div>
                <div class="bottom-footer">
                    <div class="container">
                </div> <!-- /.bottom-footer -->
             <!-- /.theme-footer-two -->    
             </footer>      
{% endblock %}

</body>
</html>