{% extends 'base-back.html.twig' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<body class="g-sidenav-show  bg-gray-200">
  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

      <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Agence</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agence.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agence.Nom}}</td>
            </tr>
            <tr>
                <th>Nbr_participant</th>
                <td>{{ agence.nbrParticipant }}</td>
            </tr>
            <tr>
                <th>Devis</th>
                <td>{{ agence.Devis }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ agence.NumTel }}</td>
            </tr>
            
        </tbody>
    </table>
     </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

    <a href="{{ path('app_agence_index') }}"><span class="badge badge-sm bg-gradient-success">Back to list</span></a>

    <a href="{{ path('app_agence_edit', {'id': agence.id}) }}"><span class="badge badge-sm bg-gradient-success">Edite</span></a>
<br></br>
    {{ include('agence/_delete_form.html.twig') }}
{% endblock %}
