{% extends 'base-back.html.twig' %}

{% block content %}
<div class="row" style="display: flex;align-items: center; margin-left:256px ;margin-top: 0px;">
        <div class="col-lg-6">
           
                <div class="card-body">
                    <h5 class="card-title">Liste des articles</h5>
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
<center>
        <thead>
            <tr>
              
                <th>nom Categorie</th>
                <th>Image categorie</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        {% for c in categorie %}
            <tr>
              
                 <td>{{ c.NomC }}</td>
                 <td><img style="width:200px;" src="{{asset ('uploads/articles/'~c.imageC)}}" ></td>
                 <td><a href="{{path ('editC',{id:c.id})}}" class="btn btn-outline-secondary">modifier</a>
                <td><a href="{{path ('deleteC',{id:c.id})}}" class="btn btn-outline-secondary" >supprimer</a></td></td>
            </tr>
         
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</center>
</div>
</div>
<a class="btn btn-outline-secondary" href="{{ path ('addC') }}"  >ajouter</a> 
</div>

{% endblock %}
