{% extends 'base-back.html.twig' %}
{% form_theme formC 'bootstrap_4_layout.html.twig' %}
{% block content %}
<div class="row" style="display: flex;align-items: center; margin-left:260px ;margin-top: 0px;">
        <div class="col-lg-6">
           
                <div class="card-body">

<h6> Ajouter Article </h6> 

    {{form_start(formC,{'attr': {'novalidate': 'novalidate'}})}}
    {{form_row(formC.ref_article,{'attr': {'placeholder':'ref Article','class':'form-control-lg'}})}}
    {{form_row(formC.Nom_article,{'attr': {'placeholder':'Nom article','class':'form-control-lg'}})}}
    {{form_row(formC.Description,{'attr': {'placeholder':'Decription Article','class':'form-control-lg'}})}}
    {{form_row(formC.Prix,{'attr': {'placeholder':'Prix Article','class':'form-control-lg'}})}}    
    {{form_row(formC.Photo,{'attr': {'placeholder':'Image Article','class':'form-control-lg'}})}}
    {{form_row(formC.Stock,{'attr': {'placeholder':'Stock Article','class':'form-control-lg'}})}}

    
{{form_end(formC)}}

</div>
</div>
</div>
</main>
{% endblock %}