{% extends 'base-back.html.twig' %}

{% block content %}
<div class="row" style="display: flex;align-items: center; margin-left:256px ;margin-top: 0px;">
        <div class="col-lg-6">
           
                <div class="card-body">
                    <h5 class="card-title">Liste des articles</h5>
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">

        <thead>
            <tr>
                <th>ref_article</th>
                <th>Nom_article</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Stock</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for a in article %}
            <tr>
                <td>{{ a.getRefArticle()}}</td>
                <td>{{ a.getNomArticle() }}</td>
                <td>{{ a.getCategories().getNomC() }}</td>
                <td>{{ a.getDescription() }}</td>
                <td>{{ a.getPrix ()}}</td>
                <td><img style="width:200px;" src="{{asset ('uploads/articles/'~a.image)}}" ></td>
                <td>{{ a.getStock() }}</td>

                <td><a href="{{path ('editA',{id:a.id})}}" class="btn btn-outline-secondary">modifier</a></td>
                <td><a href="{{path ('deleteA',{id:a.id})}}" class="btn btn-outline-secondary" >supprimer</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        
</table>
</div>

</div>

<a class="btn btn-outline-secondary" href="{{ path ('add') }}"  >ajouter</a> 
<br>
</div>


{% endblock %}